engine-strict=false
node-version=20.10.0
legacy-peer-deps=true
node-linker=hoisted
registry=https://registry.npmjs.org/
save-exact=false
strict-peer-dependencies=false
auto-install-peers=true
fund=false 